.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
vars.yaml
pi-infra/docker/omni/compose.yaml
pi-infra/docker/traefik/compose.yaml
pi-infra/docker/twingate/compose.yaml
pi-infra/docker/vault/compose.yaml
