---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  destination:
    namespace: traefik
    server: 'https://kubernetes.default.svc'
  sources:
  - repoURL: 'https://traefik.github.io/charts'
    chart: traefik
    targetRevision: 37.0.0
    helm:
      valueFiles:
      - $values/base/kubernetes/traefik/values.yaml
  - repoURL: 'https://github.com/DawidDe/homelab.git'
    targetRevision: HEAD
    ref: values
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
      enabled: true
    syncOptions:
    - CreateNamespace=true